body{
    font-family: "Abel", sans-serif;
    background-color: pink;
  }

  .sidenav {
    width: 150px;
    position: relative;
    z-index: 1;
    top: 20px;
    left: 10px;
    background: #94DFE1;
    overflow-x: hidden;
    padding: 8px 0;
    z-index: auto;
  }

  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #FFFFFF;
    display: block;
  }

  .sidenav a:hover {
    color: #FFFFFF;
  }

  .main {
    margin-left: 140px; /* Same width as the sidebar + left position in px */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
  }

  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  .aboutus{
      background: linear-gradient(to bottom, #ff99cc 0%, #ffffff 100%);
  }

  .homepage{
     background: linear-gradient(to bottom, #ff99cc 0%, #ffffff 100%);
  }
  .discography{
     background:linear-gradient(to bottom, #6666ff 0%, #ff99cc 100%);
  }
  .media{
     background: linear-gradient(to bottom, #6666ff 0%, #ff99cc 100%);
  }
  .merch{
     background-color: #FFFFFF;
  }
  .tourdates{
     background:#FFFFFF;
  }

  .navbar {
  width: 100%;
  background-color: #A592CC;
  overflow: auto;
}

.navbar a {
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
  width: 30%; /* Four links of equal widths */
  text-align: center;
}

.navbar a:hover {
  background-color: #E6A3CF;
}

.navbar a.active {
  background-color: #A592CC;
}

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
    width: 100%;
    text-align: left;
  }

  .center {
    display: block;
    background-size: cover;
  }
